In [4]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = sns.load_dataset('titanic')

In [6]:
df.shape

(891, 15)

In [7]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [9]:
df = df.drop(['deck', 'embark_town', 'embarked'], axis=1)

In [10]:
df.isnull().sum()

survived        0
pclass          0
sex             0
age           177
sibsp           0
parch           0
fare            0
class           0
who             0
adult_male      0
alive           0
alone           0
dtype: int64

In [11]:
df.shape

(891, 12)

In [12]:
# droping all rows with missing data points
df = df.dropna()

In [13]:
df.isnull().sum()

survived      0
pclass        0
sex           0
age           0
sibsp         0
parch         0
fare          0
class         0
who           0
adult_male    0
alive         0
alone         0
dtype: int64

In [14]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,class,who,adult_male,alive,alone
0,0,3,male,22.0,1,0,7.2500,Third,man,True,no,False
1,1,1,female,38.0,1,0,71.2833,First,woman,False,yes,False
2,1,3,female,26.0,0,0,7.9250,Third,woman,False,yes,True
3,1,1,female,35.0,1,0,53.1000,First,woman,False,yes,False
4,0,3,male,35.0,0,0,8.0500,Third,man,True,no,True

In [15]:
df = df[['pclass', 'sex', 'age', 'survived']]

In [16]:
df

     pclass     sex   age  survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
6         1    male  54.0         0
7         3    male   2.0         0
8         3  female  27.0         1
9         2  female  14.0         1
10        3  female   4.0         1
11        1  female  58.0         1
12        3    male  20.0         0
13        3    male  39.0         0
14        3  female  14.0         0
15        2  female  55.0         1
16        3    male   2.0         0
18        3  female  31.0         0
20        2    male  35.0         0
21        2    male  34.0         1
22        3  female  15.0         1
23        1    male  28.0         1
24        3  female   8.0         0
25        3  female  38.0         1
27        1    male  19.0         0
30        1    male  40.0         0
33        2    male  66.0         0
34        1    male  28.0         0
35        1    male  42.0         0
37        3    male  21.0         0
38        3  female  18.0         0
..      ...     ...   ...       ...
856       1  female  45.0         1
857       1    male  51.0         1
858       3  female  24.0         1
860       3    male  41.0         0
861       2    male  21.0         0
862       1  female  48.0         1
864       2    male  24.0         0
865       2  female  42.0         1
866       2  female  27.0         1
867       1    male  31.0         0
869       3    male   4.0         1
870       3    male  26.0         0
871       1  female  47.0         1
872       1    male  33.0         0
873       3    male  47.0         0
874       2  female  28.0         1
875       3  female  15.0         1
876       3    male  20.0         0
877       3    male  19.0         0
879       1  female  56.0         1
880       2  female  25.0         1
881       3    male  33.0         0
882       3  female  22.0         0
883       2    male  28.0         0
884       3    male  25.0         0
885       3  female  39.0         0
886       2    male  27.0         0
887       1  female  19.0         1
889       1    male  26.0         1
890       3    male  32.0         0

[714 rows x 4 columns]

In [17]:
X = df.drop('survived', axis =1)
Y = df['survived']

In [18]:
from sklearn import preprocessing

In [19]:
lb = preprocessing.LabelBinarizer()

In [20]:
X['sex'] = lb.fit_transform(X['sex'])
# 1:m 0:f

In [21]:
X.head()

   pclass  sex   age
0       3    1  22.0
1       1    0  38.0
2       3    0  26.0
3       1    0  35.0
4       3    1  35.0

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, test_size=0.2)

In [24]:
from sklearn.linear_model import LogisticRegression
LR_model = LogisticRegression()

In [25]:
LR_model.fit(X_train, Y_train)

/home/shubh/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [26]:
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier()

In [27]:
dtree_model.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [28]:
from sklearn.ensemble import BaggingClassifier
#BC_model = BaggingClassifier()

In [52]:
BC_model =BaggingClassifier(base_estimator=None, n_estimators=100, max_samples=1.0, max_features=1.0, bootstrap=True, bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=None, random_state=None, verbose=0)
# default BaggingClassifier(base_estimator=None, n_estimators=10, max_samples=1.0, max_features=1.0, bootstrap=True, bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=None, random_state=None, verbose=0)

In [53]:
BC_model.fit(X_train, Y_train)

BaggingClassifier(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=100, n_jobs=None, oob_score=False, random_state=None,
         verbose=0, warm_start=False)

In [54]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [55]:
## Accuracy REPORT - LogicticRegression model
print('\nLogistic Regression model\n')
# Accuracy Score
print(accuracy_score(Y_test, LR_model.predict(X_test)))
# Classification Report
print(classification_report(Y_test, LR_model.predict(X_test)))
# Confusion Matrix
print(confusion_matrix(Y_test, LR_model.predict(X_test)))

Logistic Regression model

0.6923076923076923
              precision    recall  f1-score   support

           0       0.72      0.74      0.73        81
           1       0.65      0.63      0.64        62

   micro avg       0.69      0.69      0.69       143
   macro avg       0.69      0.68      0.69       143
weighted avg       0.69      0.69      0.69       143

[[60 21]
 [23 39]]

In [56]:
## Accuracy REPORT - DescisionTreeClassifier model
print('\nDecision Tree Classifier\n')
# Accuracy Score
print(accuracy_score(Y_test, dtree_model.predict(X_test)))
# Classification Report
print(classification_report(Y_test, dtree_model.predict(X_test)))
# Confusion Matrix
print(confusion_matrix(Y_test, dtree_model.predict(X_test)))

Decision Tree Classifier

0.7062937062937062
              precision    recall  f1-score   support

           0       0.73      0.77      0.75        81
           1       0.67      0.63      0.65        62

   micro avg       0.71      0.71      0.71       143
   macro avg       0.70      0.70      0.70       143
weighted avg       0.70      0.71      0.70       143

[[62 19]
 [23 39]]

In [57]:
## Accuracy REPORT - BaggingClassifier model
print('\nBagging Classifier - Ensemble learning\n')
# Accuracy Score
print(accuracy_score(Y_test, BC_model.predict(X_test)))
# Classification Report
print(classification_report(Y_test, BC_model.predict(X_test)))
# Confusion Matrix
print(confusion_matrix(Y_test, BC_model.predict(X_test)))

Bagging Classifier - Ensemble learning

0.7062937062937062
              precision    recall  f1-score   support

           0       0.75      0.73      0.74        81
           1       0.66      0.68      0.67        62

   micro avg       0.71      0.71      0.71       143
   macro avg       0.70      0.70      0.70       143
weighted avg       0.71      0.71      0.71       143

[[59 22]
 [20 42]]

In [58]:
from sklearn.model_selection import ParameterGrid

from sklearn.utils import check_random_state
rng = check_random_state(0)

grid = ParameterGrid({"max_samples": [0.5, 1.0],
                          "n_estimators": [100]
                          "max_features": [1, 2, 3],
                          "bootstrap": [True, False],
                          "bootstrap_features": [True, False]})

SyntaxError: invalid syntax (<ipython-input-58-3dfe167e12dd>, line 8)

In [64]:
from sklearn.linear_model import Perceptron
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier


for base_estimator in [None,
                           LogisticRegression(),
                           Perceptron(),
                           DecisionTreeClassifier(),
                           KNeighborsClassifier(),
                           SVC(),
                           MLPClassifier()]:
        for params in grid:
            BC_model = BaggingClassifier(base_estimator=base_estimator,
                              #random_state=rng,
                              **params)
            BC_model.fit(X_train, Y_train)
            
            ## Accuracy REPORT - BaggingClassifier model
            print('\n')
            print(base_estimator)
            print('\n')
            # Accuracy Score
            print(accuracy_score(Y_test, BC_model.predict(X_test)))
            # Classification Report
            print(classification_report(Y_test, BC_model.predict(X_test)))
            # Confusion Matrix
            print(confusion_matrix(Y_test, BC_model.predict(X_test)))

SyntaxError: invalid syntax (<ipython-input-64-39cd86ed40d6>, line 6)

In [63]:
log_clf = LogisticRegression()
rnd_clf = BaggingClassifier()
svm_clf = SVC()


for clf in (log_clf, rnd_clf, svm_clf):
    clf.fit(X_train, Y_train)
    Y_pred = clf.predict(X_test)
    print(accuracy_score(Y_test, Y_pred))

0.6923076923076923
0.7132867132867133
0.7412587412587412

/home/shubh/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/shubh/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [65]:
## RANDOM-FOREST CLASSIFIER

In [66]:
df

     pclass     sex   age  survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
6         1    male  54.0         0
7         3    male   2.0         0
8         3  female  27.0         1
9         2  female  14.0         1
10        3  female   4.0         1
11        1  female  58.0         1
12        3    male  20.0         0
13        3    male  39.0         0
14        3  female  14.0         0
15        2  female  55.0         1
16        3    male   2.0         0
18        3  female  31.0         0
20        2    male  35.0         0
21        2    male  34.0         1
22        3  female  15.0         1
23        1    male  28.0         1
24        3  female   8.0         0
25        3  female  38.0         1
27        1    male  19.0         0
30        1    male  40.0         0
33        2    male  66.0         0
34        1    male  28.0         0
35        1    male  42.0         0
37        3    male  21.0         0
38        3  female  18.0         0
..      ...     ...   ...       ...
856       1  female  45.0         1
857       1    male  51.0         1
858       3  female  24.0         1
860       3    male  41.0         0
861       2    male  21.0         0
862       1  female  48.0         1
864       2    male  24.0         0
865       2  female  42.0         1
866       2  female  27.0         1
867       1    male  31.0         0
869       3    male   4.0         1
870       3    male  26.0         0
871       1  female  47.0         1
872       1    male  33.0         0
873       3    male  47.0         0
874       2  female  28.0         1
875       3  female  15.0         1
876       3    male  20.0         0
877       3    male  19.0         0
879       1  female  56.0         1
880       2  female  25.0         1
881       3    male  33.0         0
882       3  female  22.0         0
883       2    male  28.0         0
884       3    male  25.0         0
885       3  female  39.0         0
886       2    male  27.0         0
887       1  female  19.0         1
889       1    male  26.0         1
890       3    male  32.0         0

[714 rows x 4 columns]

In [67]:
X

     pclass  sex   age
0         3    1  22.0
1         1    0  38.0
2         3    0  26.0
3         1    0  35.0
4         3    1  35.0
6         1    1  54.0
7         3    1   2.0
8         3    0  27.0
9         2    0  14.0
10        3    0   4.0
11        1    0  58.0
12        3    1  20.0
13        3    1  39.0
14        3    0  14.0
15        2    0  55.0
16        3    1   2.0
18        3    0  31.0
20        2    1  35.0
21        2    1  34.0
22        3    0  15.0
23        1    1  28.0
24        3    0   8.0
25        3    0  38.0
27        1    1  19.0
30        1    1  40.0
33        2    1  66.0
34        1    1  28.0
35        1    1  42.0
37        3    1  21.0
38        3    0  18.0
..      ...  ...   ...
856       1    0  45.0
857       1    1  51.0
858       3    0  24.0
860       3    1  41.0
861       2    1  21.0
862       1    0  48.0
864       2    1  24.0
865       2    0  42.0
866       2    0  27.0
867       1    1  31.0
869       3    1   4.0
870       3    1  26.0
871       1    0  47.0
872       1    1  33.0
873       3    1  47.0
874       2    0  28.0
875       3    0  15.0
876       3    1  20.0
877       3    1  19.0
879       1    0  56.0
880       2    0  25.0
881       3    1  33.0
882       3    0  22.0
883       2    1  28.0
884       3    1  25.0
885       3    0  39.0
886       2    1  27.0
887       1    0  19.0
889       1    1  26.0
890       3    1  32.0

[714 rows x 3 columns]

In [69]:
from sklearn.ensemble import RandomForestClassifier

In [70]:
rfc_clf = RandomForestClassifier()
rfc_clf.fit(X_train, Y_train)

/home/shubh/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [71]:
Y_pred = rfc_clf.predict(X_test)

In [72]:
accuracy_score(Y_test, Y_pred)

0.6853146853146853

In [73]:
from sklearn.ensemble import VotingClassifier

In [84]:
voting_clf = VotingClassifier(estimators=[('lr', log_clf), ('rf', rnd_clf), ('svc', svm_clf)],voting='hard')

In [85]:
for clf in (log_clf, rnd_clf, svm_clf, voting_clf):
    clf.fit(X_train, Y_train)
    y_pred = clf.predict(X_test)
    print(accuracy_score(Y_test, y_pred))

0.6923076923076923
0.7132867132867133
0.7412587412587412
0.7202797202797203

/home/shubh/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/shubh/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/shubh/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/shubh/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)